
*.o
autoconf.mk
.depend
*.bin
include/config.h
nboot/boot0.lds
sboot/sboot.lds
fes/fes1.lds
*.axf
*.map
*.elf
plat.mk
include/config.h.tmp.1
include/commit_info.h
.module.mk
*.elf
#*.lds
drivers/dram/sun8iw18p1/libchipid
drivers/dram/sun50iw10p1/libchipid
drivers/dram/sun50iw11p1/libchipid

