.config.old
.config
modules.builtin
modules.order
Module.symvers
.*
*.d
*.dis
*.sct
*.via
*.o.*
*.a
*.o
*.elf
*.map
*.log
*.rar
gnucc_armv5te
touchtheme.script.NULL
!.gitignore
!.astylerc
filelist
*.swp
*.i
*.s
*.lst
